{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Ex2 (Exercise 2)</h2>
<br>
<h4>Description</h4>
<br>
This site uess code from to 2 repos (<a href="https://github.com/pjdufour/ex1">ex1</a> and <a href="https://github.com/pjdufour/ex2">ex2</a>).  The code in <b>ex1</b> is used to pull MODIS active fires data from <a href="https://firms.modaps.eosdis.nasa.gov/active_fire/shapes/zips/Global_24h.zip">https://firms.modaps.eosdis.nasa.gov/active_fire/shapes/zips/Global_24h.zip</a> daily and import it into PostGIS.  The code in <b>ex2</b> is used to process that data and visualize it.
<br>
<h4>Authors</h4>
<br>
This project was built by Patrick Dufour only for demonstration purposes. 
{% endblock %}
